---
import { imagesData } from "../scripts/imagenes.js";
---

<div class="flex flex-wrap -mx-3 mb-5 mt-4">
  <!-- Ajustado para que las imágenes se alineen mejor -->
  <div class="w-full px-3 mb-6 mx-auto">
    <div class="relative flex-[1_auto] flex flex-col break-words min-w-0">
      <div class="flex-auto block py-8 px-9">
        <div class="flex flex-wrap w-full justify-center">
          {
            imagesData.map((image, index) => (
              <Fragment key={index}>
                <div class="flex flex-col mr-3 text-center mb-5 lg:mr-6">
                  <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
                    {image.link ? (
                      <a href={image.link}>
                        <img
                          class="inline-block shrink-0 rounded-[.95rem] w-[350px] h-[270px]"
                          src={image.src}
                          alt={image.alt}
                        />
                      </a>
                    ) : (
                      <img
                        class="inline-block shrink-0 rounded-[.95rem] w-[350px] h-[270px]"
                        src={image.src}
                        alt={image.alt}
                      />
                    )}
                  </div>
                </div>
              </Fragment>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
